# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Data (imdb dataset je velik)
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

pipeline_test.py

/results
/notebooks/results
bow_test.py
tfidf_test.py


mlruns/



